.occupied {
    text-decoration-line: none;
}

.table-bordered td {
    font-weight: bold;
    border: 1px solid #85a0bb;
}

.table-bordered tbody th {
    border: 0px;
}

.header{
    background-color: #3276bd;
    color: #ffffff;
}